<!DOCTYPE html>
<html>
<head>
  <title>Notifier</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if current_user.present? %>
  <div class="bg-gray-200 w-full  relative flex  overflow-scroll">
    <%= render "layouts/main_navigation" -%>
    <%= render "layouts/side_navigation" -%>
    <%= yield %>
  </div>
<% else %>
  <%= yield %>
<% end %>
<%= render "javascript" %>

</body>

</html>
